{% extends "base.html.twig" %}

{% block title %}
    Les evenements de {{ app.user.pseudo }}
{% endblock %}

{% block body %}
   {% include 'includes/flash.html.twig' %}
    <h1 class="title">Mes evenements</h1>

    
     
    
    
{% endblock %}








