{% extends "base.html.twig" %}

{% block title %}
    Les evenements de {{ app.user.pseudo }}
{% endblock %}

{% block body %}
    <div class="section">
        <h1 class="title">Mes evenements</h1>
    </div>
{% endblock %}        